<div class="row clearfix padding-all backcolor1 sec" [@routerTransition]>
  <div class="block-header">
    <div class="row clearfix">
        <form>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <mat-form-field>
                    <input matInput [placeholder]="l('SearchByKeyword')" [(ngModel)]="keyword"
                    name="keyword">
                </mat-form-field>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-right padding-b10">
                <button mat-raised-button color="primary" class="fl-l"
                (click)="getDataPage(1)">{{ 'Search' | localize }}
              </button>
              <button mat-mini-fab color="primary" class="pull-right" (click)="createCustomer()">
                <mat-icon>add</mat-icon>
              </button>       
            </div>
        </form>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content backcolor2">

      <div class="body table-responsive">

        <table class="table table-hover table-striped" [busy]="isTableLoading" id="">
          <thead>
            <tr>
              <th>{{ "Name" | localize }}</th>
              <th>{{ "Tel" | localize }}</th>
              <th>{{ "Fax" | localize }}</th>
              <th>{{ "Address" | localize }}</th>
              <th>{{ "TaxNumber" | localize }}</th>
              <th>{{ "Email" | localize }}</th>
              <th>{{ "Actions" | localize }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let customer of (customers | paginate: {
                        id: 'server',
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems })">
              <td>{{ customer.name }}</td>
              <td>{{ customer.tel }}</td>
              <td>{{ customer.fax }}</td>
              <td>{{ customer.address }}</td>
              <td>{{ customer.taxNumber }}</td>
              <td>{{ customer.email }}</td>
              <td>
                <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                  <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #actionsMenu="matMenu">
                  <button mat-menu-item (click)="editCustomer(customer)">
                    <mat-icon>edit</mat-icon>
                    <span>{{ "Edit" | localize }}</span>
                  </button>
                  <button mat-menu-item (click)="detailCustomer(customer)">
                    <mat-icon>streetview</mat-icon>
                    <span>{{ "Detail" | localize }}</span>
                  </button>
                  <button mat-menu-item (click)="delete(customer)">
                    <mat-icon>delete</mat-icon>
                    <span>{{ "Delete" | localize }}</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
    
        <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
          <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
          </abp-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
